<% provide(:title, "About") %>
<h1>About</h1>
<p> このサイトは<a href="https://yukoku.work">yukoku</a>のポートフォリオサイトです。 </p>
<p> 以下の機能を実装しています。 </p>
<ul>
  <li>機能1</li>
  <li>機能2</li>
</ul>
<p> アカウントを作成しなくてもテストユーザーでログインできます。</p>
