<% provide(:title, "About") %>
<h1>About</h1>
<div class='well'>
  <div class='row'>
    <div class='col-sm-offset-3 col-sm-6'>
      <h4 class='text-center'> このサイトは<a href="https://yukoku.work">yukoku</a>のポートフォリオサイトです。 </h4>
      <br />
      <p class='text-center'> 以下の機能を実装しています。 </p>
      <ul>
        <li>
          ユーザー登録,更新,削除,一覧表示機能, 認証機能(devise)
          <ul>
            <li>ログインページにはテストユーザー用のログインボタンが用意されています</li>
            <li>テスト用のユーザーに対しては変更、削除を加えることができません</li>
            <li>アイコンの表示はgravatarを使用しています</li>
            <li>ユーザー詳細ページからそのユーザーが参加しているプロジェクトをみることができます。</li>
            <li>管理者権限を持つユーザーは以下の操作ができます</li>
            <ul>
              <li>全てのユーザー,プロジェクト,プロジェクトメンバー,チケット,コメントの閲覧,削除</li>
            </ul>
          </ul>
        </li>
        <br />

        <li>
          ユーザー招待機能(devise-invitable)
          <ul>
            <li>"招待する"タブから、メールを使用してユーザーをアプリに招待できます</li>
            <li>プロジェクト詳細画面の"プロジェクトに招待する"リンクから、アプリに登録済みのユーザーに対して、メールでプロジェクトに招待できます</li>
          </ul>
        </li>
        <br />

        <li>
          プロジェクト, チケット, コメントの作成,更新,削除
          <ul>
            <li>すべてのユーザーはプロジェクトを作成できます</li>
            <li>ユーザーは参加しているプロジェクトとそれに紐づくチケット、コメントを閲覧できます</li>
            <li>担当者が自分に設定してあるチケットを一覧で確認できます</li>
            <li>プロジェクトのメンバーはチケットの作成、更新、削除、コメントの作成、削除ができます</li>
            <li>プロジェクトのオーナー権限を持つユーザーは以下の操作が可能です。</li>
            <ul>
              <li>登録済みユーザーの中から、ユーザーをプロジェクトに招待できます</li>
              <li>すでに参加しているプロジェクトメンバーをプロジェクトから除外できます。</li>
              <li>プロジェクトの削除が行えます</li>
            </ul>
          </ul>
        </li>
        <br />

        <li>
          ページネーション機能(kaminari)
          <ul>
            <li>kaminariを使用したページネーション機能を実装しています</li>
            <li>プロジェクト一覧ページ、ユーザー一覧ページ、チケット一覧ページに適用しています</li>
          </ul>
        </li>
        <br />

        <li>
          チケット検索機能(ransack)
          <ul>
            <li>ransackを使用したチケットの検索機能を実装しています</li>
          </ul>
        </li>
        <br />

        <li>
          画像投稿機能(AWS-S3, ActiveStorage)
          <ul>
            <li>チケットには画像を添付できます(512KB以下、10枚以下の制限をつけています)</li>
            <li>画像はS3に保存されます</li>
            <li>チケットを閲覧できるユーザーは画像を削除できます</li>
          </ul>
        </li>
        <br />

        <li>
          パンくずリスト(gretel)
          <ul>
            <li>gretelを使用したパンくずリストを実装しています</li>
          </ul>
        </li>
        <br />

        <li>
          I18nによる日本語化
          <ul>
            <li>I18nにより日本語の表示を行っています</li>
          </ul>
        </li>
        <br />
      </ul>
      <br />

      <h4 class='text-center'>使用している技術一覧</h4>
      <ul>
        <li>Ruby (2.5.5)</li>
        <li>Ruby on Rails (5.2.3)</li>
        <li>rspec (3.8)</li>
        <li>my sql (5.7)</li>
        <li>heroku</li>
        <li>S3(AWS)</li>
        <li>bootstrap3</li>
      </ul>
    </div>
  </div>
</div>