<% provide(:title, t('user.title.index')) %>
<h2><%= t('user.title.index') %></h2>
<div class="row">
  <% @users.each do |user| %>
    <ol>
    <div class="col-md-10">
      <ol><%= link_to user.name, user_path(user) %></ol>
    </div>
    <div class="col-md-2">
      <% if current_user.admin? %>
        <div>
          <%= link_to t("user.crud.delete"), user, method: :delete, data: { confirm: t("user.crud.confirm_delete") } %>
        </div>
      <% end %>
      </div>
    </ol>
  <% end %>
</div>