<% breadcrumb :project, @project %>
<% provide(:title, t("project.title.edit")) %>
<% provide(:button_text, t("helpers.submit.update")) %>
<% provide(:link_to, project_path(@project)) %>
<h2><%= t("project.title.edit") %></h2>
<%= render 'form'%>
