<!-- bootstrap適用かつhome iconを表示するためにgretelを手動で設定-->
<% breadcrumbs.tap do |links| %>
  <% if links.any? %>
    <ol class='breadcrumb'>
    <li><span class='glyphicon glyphicon-home' aria-hidden='true'></span></li>
    <% links.each do |link| %>
      <li class=<%="#{link.current? ? 'active':nil}"%>>
        <%= link_to_unless_current link.text, link.url %>
      </li>
    <% end %>
    </ol>
  <% end %>
<% end %>
